<footer>
    <section class="author">
        @CodingNinjas. All Rights Reserved.
    </section>
    <section class="links">
        <a href="/">
            Home
        </a>
        <% if(locals.user){ %>
        <a href="/users/profile/<%= user.id %>">
            Profile
        </a>
        <% }else{ %>
            <a href="/users/sign-in">
                Profile
            </a>
        <% } %>
    </section>

</footer>